<?xml version='1.0' encoding='utf-8'?>
<widget id="com.almightynassar.BrokenStarsAndroid" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <hook src="hooks/hookers.js" type="before_prepare" />
    <hook src="hooks/beforedep.js" type="before_deploy" />
    <name>Broken Stars</name>
    <description>
        A Tabletop RPG reference app for the homebrew "Broken Stars" campaign. Based on the "Savage Worlds" and "Stars Without Number" rule sets.
    </description>
    <author email="almightynassar@gmail.com">
        Almighty Nassar
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
</widget>
