// Set up the main card settings
.power-card {
    @media (max-width: 400px) {
        width: 90vw;
        height: 125vw;
    }
    @media (min-width: 400px) and (max-width: 600px) {
        width: 75vw;
        height: 105vw;
    }
    @media (min-width: 600px) and (max-width: 800px) {
        width: 50vw;
        height: 70vw;
    }
    @media (min-width: 800px) and (max-width: 1024px) {
        width: 35vw;
        height: 50vw;
    }
    @media (min-width: 1024px) {
        width: 25vw;
        height: 35vw;
    }
    margin: auto;
    padding: 1vw;
    box-sizing: border-box;
    background: #000;
}

.power-card * {
    font-size: 1em;
    padding: 0;
    box-sizing: border-box;
}

// The card background
.power-card > .card-main {
    padding: 0.5vw;
    background-image: 
        repeating-linear-gradient(140deg, transparent, rgba(255, 255, 255, 0.25) 1%, transparent 20%),
        repeating-linear-gradient(-30deg, transparent, transparent 8%, rgba(255, 255, 255, 0.4), transparent 9%),
        repeating-linear-gradient(-10deg, transparent, transparent 13%, rgba(0, 0, 0, 0.4), transparent 15%),
        repeating-linear-gradient(80deg, transparent, transparent 7.5%, rgba(0, 0, 0, 0.25), transparent 8%),
        repeating-linear-gradient(5deg, transparent, transparent 10.5%, rgba(255, 255, 255, 0.5), transparent 11%),
        repeating-linear-gradient(75deg, transparent, transparent 11.5%, rgba(255, 255, 255, 0.5), transparent 12%),
        repeating-radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1%, transparent 1%, transparent 5%);
    border-radius: 5px;
    height: calc( 100% - 2.5em );
}

// Card colours
.power-card .copper {
    background-color: #B87333;
}
.power-card .silver {
    background-color: #708090;
}
.power-card .gold {
    background-color: #FFD700;
}
.power-card .platinum {
    background-color: #E5E4E2;
}

// Where all the main content sits
.power-card .card-content {
    padding: 1%;
    height: 99%;
}

.card-content > div {
    left: 1%;
    right: 1%;
}

// The header / title
.power-card .header {
    background: #ddd;
    border-color: black;
    border-style: solid;
    border-radius: 2em;
    border-width: 1px;
}
.power-card .header .title {
    display: inline-block;
    margin-left: 1vw;
}
.power-card .header .rarity {
    float: right;
    margin-right: 5px;
}

// Card art
.card-content .art {
    margin: 1%; 
    background: #ddd;
    height: 45%;
    border: 2px solid #333;
}
.card-content .art img {
    height: 100%;
    width: 100%;
}

// Card text
.power-card .textBox {
    margin: 1%;
    padding: 1%;
    height: calc( 100% - 40% - 3.84em );
    border: 2px solid #999;
    border-bottom: 0 none;
    border-left: 0 none;
    background: #d3dddd;
    overflow-y: overlay;
}

// Card Footer
.power-card footer {
    color: #ccc;
    font-family: sans-serif;
    font-size: 0.8em;
    overflow: auto; 
}
.power-card footer p {
    margin-bottom: 0.2em;
    letter-spacing: 0.18em;
}

// Card misc
.power-card h1 {
    margin-left: 5px;
    font-size: 1.5em;
    line-height: 1em;
}
.power-card h2 {
    font-size: 1em;
    line-height: 1em;
}
.power-card p {
    margin-bottom: 0.6em;
    line-height: 1.1em;
}
.power-card blockquote {
    font-style: italic;
}
.power-card blockquote p {
    margin-bottom: 0;
}


