@import 'card';

ul.proper-list li,
ol.proper-list li {
	margin-left: 2em;
}

.bottom-border{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgba(0,0,0,.24);
	padding-bottom: 0.5vh;
}

.small-caps {
	font-variant-caps: small-caps;
}

.pull-right {
	text-align: right;
}
